<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="">Welcome <span th:utext="${userName}"></span></a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="home">Dashboard</a></li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Books <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a th:href="@{/home/books}">View Books</a></li>
		          <li><a href="#">Request</a></li>
		          <li><a href="#">Return</a></li>
		        </ul>
		      </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li> <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
		    </ul>
		  </div>
		</nav>
		<div class="container">
			<div class="container">
			  <h2>Book List</h2>
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>Book Id</th>
			        <th>Book Name</th>
			        <th>Book Author Name</th>
			        <th>Book Publication Name</th>
			        <th>Book Price </th>
			        <th>Book Stock</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			      </tr>
			      <tr>
			        <td>Mary</td>
			        <td>Moe</td>
			        <td>mary@example.com</td>
			      </tr>
			      <tr>
			        <td>July</td>
			        <td>Dooley</td>
			        <td>july@example.com</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
		<div>
			<h1>Welcome</h1>
		</div>
	</body>
</html>